.container {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}

.btt {
  height: 30px;
}

.btt-service {
  height: 30px;
  margin-left: -15px;
}



.button-group{
    margin-top: -10px;
  }
